@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
footer{
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.container-fluid{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}